 .jumbotron{
		vertical-align:center;
		text-align: center;
		}
.my-4{
		text-align: center;
		font-style:italic;
		font-family: fantasy;
		}
.display-4{
		font-size:3em;
		text-align: center;
		}
.jumbotron{
		background-image:url(Wall.jpg);
		background-size:cover;
		}
.Revolution{
		display:flex;
		flex-wrap:wrap;
		font-family:'Open Sans Condensed', sans serif;	background-image:url(Revolution.jpg);
		background-size:cover;
		color:rgba(253,254,170,0.9);
   }
.Potrait{
		background-image:url(Potrait.jpg);
		background-size:cover;
		}
