 .jumbotron{
		vertical-align:center;
		text-align: center;
		}
.my-4{
		text-align: center;
		font-style:italic;
		font-family: fantasy;
		}
.display-4{
		font-size:3em;
		text-align: center;
		}
.jumbotron{
		background-image:url(Wall.jpg);
		background-size:cover;
		size:70px;
		}
.Revolution{
		display:flex;
		flex-wrap:wrap;
		font-family:'Open Sans Condensed', sans serif;
		background-size:cover;
		color:rgba(253,254,170,0.9);
   }
.Potrait{
		background-image:url(Potrait.jpg);
		background-size:cover;
		}
.Forms{
		color:rgb(200,0,53);
		}
.About{
		border:5px solid black;
		display:flex;
		flex-wrap:wrap;
		border-radius:50%;
		height:50%;
		width:50%;
		margin:0px auto;
		}
.About2{
		background-image:url(About.jpg);
		background-size:cover;
		}
