body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.html{
  font-size: 62.5%;
}

.u-center-text{
  text-align: center;
}

@keyframes moveFromRight{
  0%{
    opacity: 0;
    transform: translate(100%,450%);
  }
  70%{
    transform: translate(-2%,450%);
  }
  100%{
    transform: translate(0%,450%);
    opacity: 1;
  }
}

@keyframes moveFromLeft{
  0%{
    opacity: 0;
    transform: translate(-100px,150%);
  }
  80%{
    transform: translate(4%,150%);
  }
  100%{
    transform: translate(0%,150%);
    opacity: 1;
  }
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.CodeT{
  clip-path: polygon(0 0, 100% 16%, 100% 100%, 0 100%);
  padding-top: 13rem;
  margin-top: -11rem;
  background-image: LINEAR-GRADIENT(TO RIGHT, RGB(253, 93, 224), RGB(14, 18, 134));
}

.OnlineT{
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 86%);
  padding-top: 13rem;
  margin-top: -12rem;
  padding-bottom: 10rem;
  background-image: LINEAR-GRADIENT(TO RIGHT, RGB(104, 13, 13), RGB(185, 86, 251));
}

.SchoolT{
  padding-top: 9rem;
  margin-top: -9rem;
  padding-bottom: 10rem;
  clip-path: polygon(0 6%, 100% 0%, 100% 100%, 0 88%);
  background-image:LINEAR-GRADIENT(TO RIGHT, RGB(191, 13, 13), RGB(0, 40, 240));
}

.landing{
  z-index: 2;
  background-image: LINEAR-GRADIENT(TO RIGHT, RGB(89, 6, 157), RGB(253, 137, 28));
  height: 95vh;
  clip-path: polygon(0 0, 100% 0%, 100% 78%, 0% 100%);
}

.landing__heading{
  display: block;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.landing__heading--1{
  animation-name: moveFromLeft;
  animation-duration: 2.6s;
  padding: 0%;
  animation-timing-function: ease-out;
  transform: translate(0%,150%);
  width: 100%;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.landing__heading--2{
  animation-name: moveFromRight;
  animation-duration: 3.2s;
  animation-timing-function: ease-in;
  transform: translate(0%,450%);
}

.heading--white{
  color: rgb(255, 255, 255);
}

.heading--primary{
  font-size: 5rem;
  margin: 0; 
}

@media screen and (max-width: 600px) {
  .heading--primary{
    font-size: 2.5rem;
  }
  .card{
    width: 5rem!important;
  }
  .card-title{
    font-size: 0.3rem;
  }
  .card-text{
    font-size: 0.2rem;
  }
  .btn-primary{
    font-size: 0.2rem;
    margin-left: -0.4rem;
  }
  .OnlineT{
    margin-top: -17rem!important;
  }
  .SchoolT{
    padding-bottom: 14rem!important;
  }
}

@media screen and (max-width: 600px) {
  .heading--secondary{
    font-size: 1.5rem!important;
    margin-top: 2rem!important;
  }
}

.heading--secondary{
  font-size: 2.3rem;
  margin-top: 0;
}

.card{
  width: 18rem;
}